// CLIENT

{
    "mode": "client",
    "host": "abc.com",
    "remotePort": 443,
    "localPort": 8080,
    "clientSSL": {
        "key": "/path/to/key",
        "cert": "/path/to/cert"
    }
}

// SERVER

{
    "mode": "server",
    "host": "abc.com",
    "remotePort": 443,
    "clientSSL": {
        "cert": "/path/to/cert"
    },
    "serverSSL": {
        "key": "/path/to/key",
        "cert": "/path/to/cert"
    }
}